body {
    margin: 0;
    padding: 0;
}
.box {
    width: 300px;
}
h1 {
    text-align: center;
}
.choose-year input {
    width: 80px;
}
.btnStyle {
    height: 40px;
    background-color: #c90bc2;
    color: white;
    border-radius: 5px;
    border: none;
}
#map {
    width: 100%;
    height: 600px;
}
a {
    color: white;
    text-decoration: none;
}